<div class="info-text">
  <h1
    class="title">
    Invoices
  </h1>
  <p class="mat-body-1 num-of-invoices" *ngIf="invoices$ | async as invoices">
    {{
      
         getNumOfInvoicesMsg(invoices)
        
    }}
  </p>
</div>
<div class="cta">
  <div class="sec-center">
    <input class="dropdown" type="checkbox" id="dropdown" name="dropdown" />
  </div>
  <button pill-button="default" (click)="onNewInvoiceClick()">
    <mat-icon>add_circle</mat-icon>
    <span class="text"
      >New Invoice</span
    >
  </button>
</div>
